body
{
    font-family: Arial, Helvetica, sans-serif;
}
.container-1
{
    display: flex;
    justify-content: center;
}
.container-2
{
    display: flex;
    justify-content: center;
}
.container-3
{
    justify-content: center;
    display: flex;
}
.container-3 .sect1
{
    justify-content: space-between;
}
.c 
{
    display: flex;
}
.d
{
    display: flex;
}
@media screen and (max-width:1100px)
 {
     .container{height: 100%;}
     .container-1{height: 100%;}
     .container-3{height: 100%;}
     .container-2{height: 100%;}
     .container-4{height: 100%;}
}
 